#arriba {
	background: #333;
    display: none;
	padding: 5px;
    position: fixed;
    bottom: 40px;
    left: 50px;
    font-weight: bold;
    width: 50px;
    border: 1px solid #000;
    border-radius: 24px;
    font-size: 0.8em;
    text-align: center;
}
@media only screen and (max-device-width: 480px) {
	#arriba {
		left: 10px;	
	}
}